<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="NumberOfSystems" value="1" />
    <add key="OrdersPerHour" value="13500" />
    <add key="OrderLinesPerOrder" value="2" />
    <add key="ResultStartTime" value="00:01:00" />
    <add key="InboundStrategy" value="random" />
    <add key="PowerSupply" value="big" />
    <add key="ResultInterval" value="5" />
    <add key="PowerSupply" value="big" />
    <add key="NumberOfAisles" value="8" />
    <add key="InboundStrategy" value="random" />
    <add key="PowerSupply" value="big" />
    <add key="ResultInterval" value="5" />
  </appSettings>
</configuration>